// Modules and Variables
@import "partials/base";

$white : #fff;

.navbar{
  background-color: #f56492;
  .logo{
    width: 53px;
    height: 49px;
  }
  .navbar-nav{
    align-items: center;
    .active{
      .nav-link{
        color: $white;
      }
    }
    .nav-link {
      color: $white;
      font-size: 14px;
      &:hover{
        background: #ffffff1f;
        color: $white;
      }
    }
  }
  button{
    background-color: $white;
    border: 0px;
  }
  .fas{
    font-size: 20px;
    color: $white;
  }
  .badge-warning{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    position: relative;
    top: -13px;
    right: 14px;

  }
}
