/* line 6, ../scss/partials/_nav.scss */
.navbar {
  background-color: #f56492;
}
/* line 8, ../scss/partials/_nav.scss */
.navbar .logo {
  width: 53px;
  height: 49px;
}
/* line 12, ../scss/partials/_nav.scss */
.navbar .navbar-nav {
  align-items: center;
}
/* line 15, ../scss/partials/_nav.scss */
.navbar .navbar-nav .active .nav-link {
  color: #fff;
}
/* line 19, ../scss/partials/_nav.scss */
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
}
/* line 22, ../scss/partials/_nav.scss */
.navbar .navbar-nav .nav-link:hover {
  background: #ffffff1f;
  color: #fff;
}
/* line 28, ../scss/partials/_nav.scss */
.navbar button {
  background-color: #fff;
  border: 0px;
}
/* line 32, ../scss/partials/_nav.scss */
.navbar .fas {
  font-size: 20px;
  color: #fff;
}
/* line 36, ../scss/partials/_nav.scss */
.navbar .badge-warning {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  position: relative;
  top: -13px;
  right: 14px;
}

/* line 5, ../scss/partials/_footer.scss */
.search-text {
  margin-top: 50px;
  background-color: #7dabdb;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 10, ../scss/partials/_footer.scss */
.search-text .input-search {
  height: 45px;
  width: 400px;
  padding-left: 20px;
  color: #333;
}
/* line 16, ../scss/partials/_footer.scss */
.search-text .btn-search {
  background-color: #7dabdb;
  border: 1px solid #FFF;
  color: #FFF;
  padding: 11px 22px;
}
/* line 21, ../scss/partials/_footer.scss */
.search-text .btn-search:hover {
  background-color: #FFF;
  color: #7dabdb;
}

/* line 27, ../scss/partials/_footer.scss */
.cl-wt {
  color: #fff;
}

/* line 30, ../scss/partials/_footer.scss */
.copyright {
  background-color: #f0f0f0;
}
/* line 32, ../scss/partials/_footer.scss */
.copyright p {
  margin: 15px 0px;
}

/* line 37, ../scss/partials/_footer.scss */
footer {
  background-color: #222222;
  padding: 60px 0px;
}
/* line 40, ../scss/partials/_footer.scss */
footer .menu li a {
  color: #b1aca1;
  padding: 10px;
  text-decoration: none;
}
/* line 44, ../scss/partials/_footer.scss */
footer .menu li a:hover {
  color: #7dabdb;
}

/* line 5, ../scss/partials/_carousel.scss */
.carousel-inner img {
  width: 100%;
  height: 580px;
}

/* line 5, ../scss/partials/_sidebar.scss */
h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}

/* line 13, ../scss/partials/_sidebar.scss */
.product-grid {
  font-family: Raleway,sans-serif;
  text-align: center;
  padding: 0 0 72px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
/* line 21, ../scss/partials/_sidebar.scss */
.product-grid .product-image {
  position: relative;
  transition: all .3s ease 0s;
}
/* line 24, ../scss/partials/_sidebar.scss */
.product-grid .product-image a {
  display: block;
}
/* line 27, ../scss/partials/_sidebar.scss */
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
/* line 32, ../scss/partials/_sidebar.scss */
.product-grid .pic-1 {
  opacity: 1;
  transition: all .3s ease-out 0s;
}
/* line 36, ../scss/partials/_sidebar.scss */
.product-grid:hover .pic-1 {
  opacity: 1;
}
/* line 39, ../scss/partials/_sidebar.scss */
.product-grid .pic-2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease-out 0s;
}
/* line 46, ../scss/partials/_sidebar.scss */
.product-grid:hover .pic-2 {
  opacity: 1;
}
/* line 49, ../scss/partials/_sidebar.scss */
.product-grid .social {
  width: 150px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  transition: all .3s ease 0s;
}
/* line 62, ../scss/partials/_sidebar.scss */
.product-grid:hover .social {
  opacity: 1;
  top: 50%;
}
/* line 66, ../scss/partials/_sidebar.scss */
.product-grid .social li {
  display: inline-block;
}
/* line 68, ../scss/partials/_sidebar.scss */
.product-grid .social li a {
  color: #fff;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 0 2px;
  display: block;
  position: relative;
  transition: all .3s ease-in-out;
}
/* line 80, ../scss/partials/_sidebar.scss */
.product-grid .social li a:hover {
  color: #fff;
  background-color: #ef5777;
}
/* line 84, ../scss/partials/_sidebar.scss */
.product-grid .social li a:after, .product-grid .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 1px 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}
/* line 99, ../scss/partials/_sidebar.scss */
.product-grid .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -20px;
  z-index: -1;
}
/* line 109, ../scss/partials/_sidebar.scss */
.product-grid .social li a:hover:after, .product-grid .social li a:hover:before {
  opacity: 1;
}
/* line 115, ../scss/partials/_sidebar.scss */
.product-grid .product-discount-label, .product-grid .product-new-label {
  color: #fff;
  background-color: #ef5777;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 7px;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
}
/* line 126, ../scss/partials/_sidebar.scss */
.product-grid .product-discount-label {
  background-color: #333;
  left: auto;
  right: 0;
}
/* line 131, ../scss/partials/_sidebar.scss */
.product-grid .rating {
  color: #FFD200;
  font-size: 12px;
  padding: 12px 0 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: -1;
}
/* line 139, ../scss/partials/_sidebar.scss */
.product-grid .rating li.disable {
  color: rgba(0, 0, 0, 0.2);
}
/* line 143, ../scss/partials/_sidebar.scss */
.product-grid .product-content {
  background-color: #fff;
  text-align: center;
  padding: 12px 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  z-index: 1;
  transition: all .3s;
}
/* line 155, ../scss/partials/_sidebar.scss */
.product-grid:hover .product-content {
  bottom: 0;
}
/* line 158, ../scss/partials/_sidebar.scss */
.product-grid .title {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all .3s ease 0s;
}
/* line 165, ../scss/partials/_sidebar.scss */
.product-grid .title a {
  color: #828282;
}
/* line 167, ../scss/partials/_sidebar.scss */
.product-grid .title a:hover {
  color: #ef5777;
}
/* line 172, ../scss/partials/_sidebar.scss */
.product-grid:hover .title a {
  color: #ef5777;
}
/* line 175, ../scss/partials/_sidebar.scss */
.product-grid .price {
  color: #333;
  font-size: 17px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  letter-spacing: .6px;
  margin-bottom: 8px;
  text-align: center;
  transition: all .3s;
}
/* line 184, ../scss/partials/_sidebar.scss */
.product-grid .price span {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 3px;
  display: inline-block;
}
/* line 193, ../scss/partials/_sidebar.scss */
.product-grid .add-to-cart {
  font-size: 13px;
  font-weight: 600;
}

@media only screen and (max-width: 990px) {
  /* line 200, ../scss/partials/_sidebar.scss */
  .product-grid {
    margin-bottom: 30px;
  }
}
/* line 204, ../scss/partials/_sidebar.scss */
.product_view .modal-dialog {
  max-width: 800px;
  width: 100%;
}

/* line 205, ../scss/partials/_sidebar.scss */
.pre-cost {
  text-decoration: line-through;
  color: #a5a5a5;
}

/* line 206, ../scss/partials/_sidebar.scss */
.space-ten {
  padding: 10px 0;
}

/* line 207, ../scss/partials/_sidebar.scss */
.product_img {
  max-height: 500px;
  overflow: hidden;
}

/* line 7, ../scss/style.scss */
body {
  overflow-x: hidden;
}
@media (min-width: 768px) {

  /* show 3 items */
  .carouselPrograms .carousel-inner .active,
  .carouselPrograms .carousel-inner .active + .carousel-item,
  .carouselPrograms .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }

  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
  }

  .carouselPrograms .carousel-inner .carousel-item-next,
  .carouselPrograms .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
  }

  .carouselPrograms .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.333%;
      z-index: -1;
      display: block;
      visibility: visible;
  }

  /* left or forward direction */
  .carouselPrograms .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item,
  .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carouselPrograms .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0%;
      z-index: -1;
      display: block;
      visibility: visible;
  }

  /* right or prev direction */
  .carouselPrograms .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item,
  .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carouselPrograms .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }
}
.panel-thumbnail img {
  width: 100%;
  height: auto;
}